<section class="content">

    <div class="container-fluid">
        <div class="row clearfix js-sweetalert">
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="body">
                        <h3 *ngIf="verify == true">Your Account Are Verified</h3>
                        <h3 *ngIf="verify == false">please Verifie Your Account </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>