<section class="content profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card overflowhidden m-t-20">
                    <div class="profile-header">
                        <div class="profile_info row">
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="profile-image float-md-right"> <img *ngIf="candidat.image == undefined" src="assets/images/profile.jpg" alt=""> <img *ngIf="candidat.image !== undefined" src="{{ path }}/{{ candidat.image }}" alt=""></div>
                            </div>
                            <div class="col-lg-6 col-md-8 col-12">
                                <h4 class="m-t-5 m-b-0"><strong>{{ candidat.nom }} {{ candidat.prenom }}</strong> </h4>
                                <p style="margin-bottom: 2px;font-size: 16px;">Email : {{candidat.userEmail}}</p>
                                <p style="margin-bottom: 2px;font-size: 16px;">Phone : {{candidat.numero_telephone_portable}} </p>
                                <p style="margin-bottom: 2px;font-size: 16px;">Niveau d’étude : {{candidat.niveau_d_etude}} </p>
                                <p style="font-size: 16px;">nbr annee d'Expérience : {{candidat.niveau_d_experience}} </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <div class="row clearfix">
            <div class="card overflowhidden m-t-20" style="padding-top: 40px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="col-lg-11 col-md-12 col-sm-12">
                            <strong><h3 class="m-t-5 m-b-0">FORMATION</h3></strong>
                        </div>
                        <div class="col-lg-1 col-md-12 col-sm-12">
                            <a data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons">library_add</i></a>
                        </div>

                    </div>
                    <br>
                    <ul class="cbp_tmtimeline">

                        <li *ngFor="let emp of formations ">
                            <time class="cbp_tmtime"><span>from {{emp.start_date}}</span> <span>to {{emp.end_date}}</span></time>
                            <div class="cbp_tmicon bg-info"><i class="zmdi zmdi-label"></i></div>
                            <div class="cbp_tmlabel" style="background: #99deff;">
                                <ul class="meta list-inline">
                                    <li class="dropdown" style="margin-right: 100px;">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a (click)="deleteFormation(emp.id)">Delete</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <h2><strong>school : </strong> <span>{{ emp.school }}  </span></h2>
                                <h2><strong>degree : </strong> <span>{{ emp.degree }}</span></h2>
                                <h2><strong>field_study : </strong> <span>{{ emp.field_study }}</span></h2>
                                <h2><strong>grade : </strong> <span>{{ emp.grade }}</span></h2>
                                <h2 style="border-bottom: 0px solid "><strong>description : </strong><span>{{ emp.description }}</span></h2>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="card overflowhidden m-t-20" style="padding-top: 40px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="col-lg-11 col-md-12 col-sm-12">
                            <strong><h3 class="m-t-5 m-b-0">EXPERIENCE</h3></strong>
                        </div>
                        <div class="col-lg-1 col-md-12 col-sm-12">
                            <a data-toggle="modal" data-target="#exampleModalCenter1"><i class="material-icons">library_add</i></a>
                        </div>

                    </div>

                    <br>
                    <ul class="cbp_tmtimeline">

                        <li *ngFor="let emp of experiences ">
                            <time class="cbp_tmtime"><span>from {{emp.start_date}}</span> <span>to {{emp.end_date}}</span></time>
                            <div class="cbp_tmicon bg-blush"><i class="zmdi zmdi-bookmark-outline"></i></div>
                            <div class="cbp_tmlabel" style="background: #DC72B4;">
                                <ul class="meta list-inline">
                                    <li class="dropdown" style="margin-right: 100px;">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a (click)="deleteExperience(emp.id)">Delete</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <h2><strong>company : </strong> <span>{{ emp.company }}  </span></h2>
                                <h2><strong>field_job : </strong> <span>{{ emp.field_job }}</span></h2>
                                <h2 style="border-bottom: 0px solid "><strong>description : </strong><span>{{ emp.description }}</span></h2>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>



    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Formation :</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-12 col-sm-12">
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <form id="form_advanced_validation" (ngSubmit)="addFormation()">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="header">

                                    </div>
                                    <div class="body">

                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">school</label>
                                            <input type="text" class="form-control" name="school" [(ngModel)]="formation.school" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">degree</label>
                                            <input type="text" class="form-control" name="degree" [(ngModel)]="formation.degree" required>

                                        </div>

                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">field_study</label>
                                            <input type="text" class="form-control" name="field_study" [(ngModel)]="formation.field_study" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">grade</label>
                                            <input type="text" class="form-control" name="grade" [(ngModel)]="formation.grade" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">description</label>
                                            <input type="text" class="form-control" name="description" [(ngModel)]="formation.description" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">start date</label>
                                            <input type="date" class="form-control" name="start_date" [(ngModel)]="formation.start_date" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">end date</label>
                                            <input type="date" class="form-control" name="end_date" [(ngModel)]="formation.end_date" required>

                                        </div>




                                        <button class="btn btn-raised btn-primary waves-effect" type="submit">SUBMIT</button>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Experience :</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-12 col-sm-12">
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <form id="form_advanced_validation" (ngSubmit)="addExperience()">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="header">

                                    </div>
                                    <div class="body">

                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">company</label>
                                            <input type="text" class="form-control" name="company" [(ngModel)]="experience.company" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">field job</label>
                                            <input type="text" class="form-control" name="field_job" [(ngModel)]="experience.field_job" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">description</label>
                                            <input type="text" class="form-control" name="description" [(ngModel)]="experience.description" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">start date</label>
                                            <input type="date" class="form-control" name="start_date" [(ngModel)]="experience.start_date" required>

                                        </div>
                                        <div class="mb-3">
                                            <label style="font-weight: bolder;" for="exampleInputEmail1" class="form-label">end date</label>
                                            <input type="date" class="form-control" name="end_date" [(ngModel)]="experience.end_date" required>

                                        </div>




                                        <button class="btn btn-raised btn-primary waves-effect" type="submit">SUBMIT</button>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>